@charset "utf-8";

h1 {
	color: #66bbff;
}

.Botao1 {
	text-decoration: none;
	background-color: #66bbff;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

.caixa1 {
      width: 320px;
      padding: 5px;
      margin-bottom: 10px;
      border: 1px solid #66bbff;
      border-radius: 5px;
}

 
  .caixa2 {
      padding: 5px;
      margin-bottom: 10px;
      border: 1px solid #66bbff;
      border-radius: 5px;
  }


